<div class="container text-center" class="jumbotron jumbotron-fluid" style="background-color:#E9F0FF">
  <div class="container">
    <h4 class="display-4" style="color:balck"><b>Welcome to </b></h4>
    <h1 class="display-1" style="font-family:Fantasy; color:maroon" style="color:red"<br><b>Post Your Car</b></h1>
    <br><br><br>
    <h1 class="display-4">Browse For Your Next <br> <u> Used/New Car</u></h1>
    <h1 class="display-4">OR</h1>
    <h1 class="display-4"><u>Post Your Car for Sale!</u></h1>
    <br><br><br><br><br><br>
    <h1 class="display-4" style="font-family:Fantasy;"><a href="/signup"</a>Sign Up Today!</h1>
  </div>
</div>