<div class="container">
    <h2>Post Your Car</h2>

    <div class="content">
      <p>Welcome to Post Your Car! Sign Up or Log In to view cars for sale or to post your own car for sale.</p>
    </div>

   </div>
</div>
